<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.name %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= book.name %></h1>
    <%= book.serie %>
    <%= book.number %>
    <%= book.year %>
    <%= book.author %>
    <%= book.genre %>
    <form action="/home/<%= book._id %>" method="POST">
        <button type="submit">Add this book</button>
    </form>
</body>
</html>