<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.name %></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div id="general-div">
        <h1>
            <%= book.name %>
        </h1>
        <%= book.serie %>
            <%= book.number %>
                <%= book.year %>
                    <%= book.author %>
                        <%= book.genre %>

                            <% const result=user.booksAdded.find((value)=> value===book.id) %>

                                <% if ( result ) { %>
                                    <form action="/home/book/<%= book._id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete this book</button>
                                    </form>
                                    <% } else {%>
                                        <form action="/home/book/<%= book._id %>" method="POST">
                                            <button type="submit">Add this book</button>
                                        </form>
                                        <% }%>

                                            <form action="/home/book/<%= book._id %>/reviews" method="POST">
                                                <label for="name">Add your review here</label></br>
                                                <textarea type="text" name="text" id="text" required></textarea>
                                                <button type="submit">Add Review</button>
                                            </form>

                                            <% if (reviews.length>0) { %>
                                                <p>Reviews:</p>
                                                <ul>
                                                    <% reviews.forEach(review=> { %>
                                                        <li>
                                                            <p>
                                                                <%= review.text %> - <%= review.username %>
                                                            </p>
                                                            <% if (user.isAdmin|| user.id === review.usernameId) { %>
                                                             <form action="/home/book/<%= book._id %>/reviews/<%= review.id %>/edit" method="GET">
                                                                <button>Edit</button>
                                                            </form>
                                                            <% } %>
                                                        </li>
                                                        <% }) %>
                                                </ul>

                                                <% } else { %>
                                                    <p>There are no reviews for this book</p>
                                                    <% } %>

    </div>
</body>

</html>