<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Poiret+One&family=Poller+One&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="general-div">
        <h1>Media tracker manager</h1>
        <p>Use the following tool to search for new media to be added into the application</p>
        <% if (typeof message !== 'undefined') { %>
            <p class="error-message"><%= message %></p>
            <% } %>
        <form action="/management/search/book" method="GET">
            <label for="search">Search book here:</label>
            <input type="text" name="search" id="search" required /><br>
            <button type="submit" id="search-button">Search</button>
        </form>
        <% if ((typeof booksResult != "undefined" && booksResult.length>0) && (typeof isSearch != "undefined" && isSearch)) {%>
            <% booksResult.forEach(bookResult=> { %>
                <article class="card">
                    <form action="/management/book" method="POST">
                        <label for="addBook"><%= bookResult.name %></label><br>
                        <%= bookResult.year %><br>
                        <%= bookResult.author %><br>
                        <%= bookResult.genre %><br>
                        <img src="<%= bookResult.image %>" alt="<%= bookResult.name %>"><br>
                        <input type="hidden" name="name" id="name" required value='<%=bookResult.name%>' />
                        <input type="hidden" name="year" id="year" required value='<%=bookResult.year%>'/>
                        <input type="hidden" name="author" id="author" required value='<%=bookResult.author%>' />
                        <input type="hidden" name="genre" id="genre" required value='<%=bookResult.genre%>' />
                        <input type="hidden" name="description" id="description" required value='<%=bookResult.description%>' />
                        <input type="hidden" name="image" id="image" required value='<%=bookResult.image%>' />
                        <button type="submit" id="add-book-button">Add this</button>
                    </form>
                </article>
            <% }) %>
        <% } %>

        <form action="/management/search/movie" method="GET">
            <label for="search">Search movie here:</label>
            <input type="text" name="search" id="search" required /><br>
            <button type="submit" id="search-button">Search</button>
        </form>
        <% if ((typeof moviesResult != "undefined" && moviesResult.length>0) && (typeof isSearch != "undefined" && isSearch)) {%>
            <% moviesResult.forEach(moviesResult=> { %>
                <article class="card">
                    <form action="/management/movie" method="POST">
                        <label for="addMovie"><%= moviesResult.name %></label><br>
                        <%= moviesResult.year %><br>
                        <img src="<%= moviesResult.image %>" alt="<%= moviesResult.name %>"><br>
                        <input type="hidden" name="id" id="id" required value='<%=moviesResult.id%>' />
                        <button type="submit" id="add-movie-button">Add this</button>
                    </form>
                </article>
            <% }) %>
        <% } %>
    </div>
</body>
</html>
