<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class ="general-div">
    <h1>Searh</h1>
    <p>Tell us what are you looking for <%= user.username %>!</p>
    <form action="/search/results/books" method="GET">
        <label for="search">Search book here:</label>
        <input type="text" name="search" id="search" required /><br>
        <button type="submit" id="search-button" >Search</button>
    </form>
    <% if(typeof bookResultList != 'undefined' && bookResultList.length > 0){ %>
    <% bookResultList.forEach(book => { %>
        <article class="card">
            <a href="/tracker/book/<%= book._id %>" class="book-name">
                <div class="img-placeholder">
                    
                    <img src="<%= book.image %>" alt="<%= book.name %>"><br>
                </div>
                <%= book.name %></a>
            </a>
              </article>
    <% }) %>
    <% } %>



    <form action="/search/results/movies" method="GET">
        <label for="search">Search movie here:</label>
        <input type="text" name="search" id="search" required /><br>
        <button type="submit" id="search-button" >Search</button>
    </form>
    <% if(typeof movieResultList != 'undefined' && movieResultList.length > 0){ %>
    <% movieResultList.forEach(movie => { %>
        <article class="card">
            <a href="/tracker/movie/<%= movie._id %>" class="movie-name">
                <div class="img-placeholder">
                    
                    <img src="<%= movie.image %>" alt="<%= movie.name %>"><br>
                </div>
                <%= movie.name %></a>
            </a>
              </article>
    <% }) %>
    <% } %>
    </div>
</body>
</html>