<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class ="general-div">
    <h1>Home Page</h1>
    <p>Welcome <%= user.username %>!</p>
    <% if (typeof message !== 'undefined') { %>
        <p class="error-message"><%= message %></p>
        <% } %>
        <h2>Books</h2>
    <main>
        <% books.forEach(book => { %>
            <article class="card">
                <a href="/tracker/book/<%= book._id %>" class="book-name">
                <div class="img-placeholder">
                    
                    <img src="<%= book.image %>" alt="<%= book.name %>"><br>
                </div>
                <%= book.name %></a>
            </a>
              </article>
        <% }) %>

    </main>
    </div>
</body>
</html>